#menu-primary{
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* nesting css */
  div:nth-child(2){
    margin-inline: auto;
  }
  div:nth-child(3){
   justify-self: end;
  }
}

#menu-secondary {
  padding-block: 14px;
  border: 1px solid var(--stroke-color);
  justify-content: space-between;
  border-inline: none;
  --ms-border-inline: none;
  --mz-border-inline: none;
}